.react-select .react-select__control {
  border-color: #d1d5db;
  border-radius: 0.375rem;
  min-height: 38px;
}

.react-select .react-select__control:hover {
  border-color: #9ca3af;
}

.react-select .react-select__control--is-focused {
  border-color: #10B981 !important;
  box-shadow: 0 0 0 1px #10B981 !important;
}

.react-select .react-select__menu {
  border-radius: 0.375rem;
  margin-top: 2px;
}

.react-select .react-select__option {
  padding: 8px 12px;
}

.react-select .react-select__option--is-focused {
  background-color: #f3f4f6;
}

.react-select .react-select__option--is-selected {
  background-color: #10B981;
}
